
body {
    margin: 0;
    font-family: Roboto, Helvetica, sans-serif;
    padding: 0;
    font-size: 18px;

}
body * {
    box-sizing: border-box;
}
#app-login-btn {
    width: 160px;
}

.form-control {
    width: fit-content;
}
.tasks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    min-height: 590px;
    background-color: #0079BF;

}

.tasks__finished,
.tasks__progress,
.tasks__ready {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    margin-top: 21px;
    padding-left: 10px;
    padding-top: 13px;
    margin-bottom: 40px;
}
.tasks__finished {
    margin-right: 17px;
}
.tasks__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;

}
.list {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}
.dropbtn {
    background-color: #3498DB;
    color: white;

    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropbtn:focus,
.dropbtn:hover {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 7px;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.bird {
    padding-left: 134px;
}
.frame {
    width: 282px;
    background-color: #EBECF0;
    border-radius: 10px;
}
.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.count,
.nav {
    min-height: 55px;
    background-color: #0067A3;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    color: #FFFFFF;
}
.user-data {
    font-size: 18px;
    padding-right: 25px;
    line-height: 21px;

}

.count__tasks {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.nav__title {
    font-size: 28px;
    color: #FFFFFF;
    line-height: 32.81px;
}
.nav__logo {
    padding-top: 19px;
    margin-left: 20px;
}
.dropdownProgresslist {

    background-color: #FFFFFF;
    border-radius: 5px;
    width: 258px;
    list-style: none;
    text-align: start;
    min-height: 35px;
    margin-bottom: 10px;

}
.btn {
    border: none;
    font-size: 18px;
    margin-top: -4px;
    margin-left: 5px;
    padding: 0;
}
.dropbtn {
    width: 102px;
    height: 29px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
}
.taskAdd {
    border: none;
    outline: none;
    border-bottom: 1px solid #0c0c0c;
    margin-top: -7px;
    width: 234px;
    margin-left: 7px;

}
.inputText {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 258px;
    height: 35px;
}
.avatar {
    padding-top: 13px;
    margin-right: 13px;
    position: relative;
}

.count__active,
.count__finished {
    display: flex;
    flex-direction: row;
    margin-left: 21px;
    margin-right: 15px;
}
.user-menu__dropdown {
    position: absolute;
    width: 134px;
    height: 60px;
    background-color: #FFFFFF;
    right: 9px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

}
.rectangle {
    margin-top: -6px;
    text-align: center;
    margin-left: 20px;
}
.user-menu__dropdown ul {
    padding-left: 7px;
}
.user-menu__dropdown li {
    color: black;
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 8px;
}
.list li {
    color: black;
    padding: 10px 8px;
    line-height: 21px;
    display: block;
    cursor: pointer;
}
.list li:hover {
    background-color: #ddd;
}

.user-menu__dropdown li:hover {
    background-color: #ddd;
}
.user-menu {
    position: relative;
}
.bird {
    text-align: end;
    padding-right: 15px;
    background-color: white;
    margin-bottom: 3px;
}
.logout {
    color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logout__text {
    margin: 0;
    font-size: 18px;
    margin-right: 20px;
}
.contextMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 125px;
    height: 120px;
    background-color: white;
    border-radius: 5px;
}
.contextMenu div {
    color: black;
    width: 125px;
    cursor: pointer;
    text-align: center;
}
.contextMenu div:hover {
    background-color: #ddd;
    cursor: pointer;
}
.textCorrect {
    display: block;
}
.textCorrect__button {
    display: block;

}

.btnUsers {
    background-color: #0067A3;
    color: #ddd;
}
.adminUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.adminUsers button:hover {
    background-color: #0079BF;
    cursor: pointer;
}
.listUsers li:hover {
    background-color: #ddd;
    cursor: pointer;
}
.addUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteiner_m {
    width: 100%;
}
.userexist {
    color: red;
}
.changeTask {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    min-height: 546px;

    background-color: #FFFFFF;
}
.changeTask_description {
    border: none;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    width: 640px;
    outline: none;
    overflow: auto;
    resize: none;
    min-height: 320px;
    padding-left: 20px;
}
.changeTask_title {
    border: none;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    width: 360px;
    resize: none;
    outline: none;
    overflow: auto;
    min-height: 50px;
}
.changeTask_block {
    padding-left: 20px;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.changeTask {
    width: 96%;
    margin: 23px auto;
    border-radius: 5px;
    padding-left: 10px;
}
.cross {
    margin-top: -48px;
    margin-right: 28px;
}
#menuBurger {
    margin-bottom: 5px;
}
#app-login-btn{
    margin-top: 5px;
}
@media(min-width:1235px) {

    .kanban{
        width: 1235px;
        margin: auto;
    }

}
@media(max-width:1000px) {

    .tasks {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }
    .tasks__finished{
        margin-right: 0;
    }

}
@media(max-width:590px) {
    .count,
    .nav__title {
        display: none;
    }
    .changeTask_description {
        width: 100%;
    }
}
@media(max-width:348px) {
    .tasks {

        padding-right: 0;
        justify-content: start;
    }
    .tasks__finished,
    .tasks__progress,
    .tasks__ready {

        margin-top: 12px;
        padding-left: 13px;
        padding-top: 13px;

        margin-left: -15px;
    }
    .tasks__ready {

        margin-top: 106px;

    }

    .contextCorrectTask {
        left: 181px;
    }
    .avatar {
        padding-top: 13px;
        margin-right: 9px;
        position: relative;
    }
    .avatarImg {
        margin-right: -4px;
    }
}
